@media (max-width: 460px) {
	div.gradient {
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(#606B9B,#B191D4);
		height: 70vh;
		text-align: center;
		justify-content: center;
	}

	p.welcomeTitle {
		font-family: Raleway, sans-serif;
		font-size: 45px;
		font-weight: 900;
		color: white;
	}

	p.LangoTitle {
		font-family: Raleway, sans-serif;
		font-size: 45px;
		font-weight: 900;
		color: white;
		width: 74%;
		position: relative;
		top: 5px;
	}

	p.customizeTitle {
		padding-top: 50px;
		font-family: Open sans, sans-serif;
		font-size: 22px;
		font-weight: 300;
		color: #70C7A9;
	}

	div.login {
		display: flex;
		flex-direction: column;
		height: 30vh;
		align-items: center;
		justify-content: center;
	}

	button#loginButton {
		display: flex;
		justify-content: space-between;
		background-color: #70C7A9;
		color: white;
		width: 300px;
		height: 60px;
		font-family: Helvetica, sans-serif;
		font-size: 25px;
	}

	img.googleImg {
		width: 55px;
		height: 45px;
		position: relative;
		
	}

	span.loginText {
		position: relative;
		top: 8px;
	}
}

@media (min-width: 460px) and (max-width: 810px) {
	div.gradient {
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(#606B9B,#B191D4);
		height: 70vh;
		text-align: center;
		justify-content: center;
	}

	p.welcomeTitle {
		font-family: Raleway, sans-serif;
		font-size: 75px;
		font-weight: 900;
		color: white;
	}

	p.LangoTitle {
		font-family: Raleway, sans-serif;
		font-size: 75px;
		font-weight: 900;
		color: white;
		width: 76%;
		position: relative;
		top: 10px;
	}

	p.customizeTitle {
		padding-top: 50px;
		font-family: Open sans, sans-serif;
		font-size: 35px;
		font-weight: 300;
		color: #70C7A9;
	}

	div.login {
		display: flex;
		flex-direction: column;
		height: 30vh;
		align-items: center;
		justify-content: center;
	}

	button#loginButton {
		display: flex;
		justify-content: space-between;
		background-color: #70C7A9;
		color: white;
		width: 300px;
		height: 60px;
		font-family: Helvetica, sans-serif;
		font-size: 25px;
	}

	img.googleImg {
		width: 55px;
		height: 45px;
		position: relative;
		
	}

	span.loginText {
		position: relative;
		top: 8px;
	}
}

@media (min-width: 810px) {
	main {
		display: flex;
	}

	div.gradient {
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(#606B9B,#B191D4);
		width: 50%;
		height: 100vh;
		text-align: center;
		justify-content: center;
	}

	p.welcomeTitle {
		font-family: Raleway, sans-serif;
		font-size: 75px;
		font-weight: 900;
		color: white;
	}

	p.LangoTitle {
		font-family: Raleway, sans-serif;
		font-size: 75px;
		font-weight: 900;
		color: white;
		width: 75%;
		position: relative;
		top: 10px;
	}

	p.customizeTitle {
		padding-top: 50px;
		font-family: Open sans, sans-serif;
		font-size: 36px;
		font-weight: 300;
		color: #70C7A9;
	}

	div.login {
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	button#loginButton {
		display: flex;
		justify-content: space-between;
		background-color: #70C7A9;
		color: white;
		width: 300px;
		height: 60px;
		font-family: Helvetica, sans-serif;
		font-size: 25px;
	}

	img.googleImg {
		width: 55px;
		height: 45px;
		position: relative;
		
	}

	span.loginText {
		position: relative;
		top: 8px;
	}
}
