
.museum-name {
	font-size: 30px;
	padding-left: 55px;
}

.middle-museum-name {
	/*background-color: yellow; DELETEME */
	color: rgb(201,82,61);
	font-family: "montserrat", sans-serif;
	font-weight: bold;
	font-style: normal;
}

.nav-bar {
	/*background-color: lightgray;*/
	display: flex;
	color: blue;
	font-family: "montserrat", sans-serif;
	font-weight: 200;
	font-style: normal;
	padding: 55px;
	/* max-width: 1630px;*/
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
}

.top-nav {
	background-color: white; /*DELETEME*/
	color: black;
	font-size: 30px;
	display: flex;
	margin: 0; /* align links to the museum name */
	padding: 0;
	padding-right: 60px;
	list-style: None; /* takes away the bullet point */
	text-decoration: None; /*   may not be necessary, but used to make sure links
        	                        are the not underlined as well */
}

.nav-link {
	/*background-color: lightpink; DELETEME */
	text-decoration: None; /* take away the underline for each link */
	color: black;
	font-weight: 200;
	padding-right: 20px;
	padding-left: 20px;
}

.last-nav-link {
	/*background-color: lightpink; DELETEME */
	text-decoration: None; /* take away the underline for each link */
	color: black;
	font-weight: 200;
	padding-left: 20px;
}

header {
	background-color: rgb(249,172,120);
	display: flex;
}


.corridor-install {
	height: 360px;
	width: 550px;
	position: relative;
	left: 150px;
}

.corridor-author {
	/*background-color: pink;*/
	color: white;
	position: relative;
	left: 220px;
	top: 50px;
	width: 950px;
	height: 200px;
}

.author-description {
	/*background-color: red;*/
	display: flex;	
	padding: 10px;
}

#author {
	font-size: 120px;
	font-weight: bold;
	font-family: "montserrat", sans-serif;
}

#corridor-color {
	font-size: 74px;
	font-weight: 200;
	font-style: italic;
	font-family: "montserrat", sans-serif;
}

body {
	min-height: 100vh;  /* needed to make sure body fills up window */
	font-family: helvetica;
}

.p-title {
	background-color: lightgray;
	color: rgb(201,82,61);
}

main {
}

p {
    background-color: lightblue;
}
